<footer>
  <div class="d-flex justify-content-between align-items-center">
    <img src="/assets/cw_logo.png" alt="Connect Works">
    <div class="footer-icons">
      <a href="/">
        <img src="/assets/footer/instagram.svg" alt="instagram" />
      </a>
      <a href="/">
        <img src="/assets/footer/facebook.svg" alt="facebook" />
      </a>
      <a href="/">
        <img src="/assets/footer/linkedin.svg" alt="linkedin" />
      </a>
      <a href="/">
        <img src="/assets/footer/youtube.svg" alt="youtube" />
      </a>
    </div>
    <span>© 2023 - Todos os direitos reservados</span>
  </div>
</footer>
